<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>ChecklistApp</title>
</head>
<body>

	<h1>Cadastro de vistoria</h1>
	<form method="post">
		Veiculo: <input type="text" value="" name="vistoria" /> local: <input
			type="text" value="" name="local" /> data: <input type="date"
			value="" name="data " /> horario: <input type="text" value=""
			name="horario" />

		<button type="submit">Salvar</button>



	</form>

</body>
</html>