<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>VistoriaApp</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	
	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Lista de vistoria</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/cadastrarEvento" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar listagem</a></li>
		      </ul>
		    </div>
		</nav>
	
	</header>
	<table class="container">
		<thead>
			<tr>
				<th>veiculo</th>
				<th>Local</th>
				<th>Data</th>
				<th>Horario</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vistoria : ${vistorias}">
				<td><a th:href="${(#mvc.url('EC#detalhesVistoria').arg(0, vistoria.codigo)).build()}"><span th:text="${vistoria.veiculo}"></span></a></td>
				<td><span th:text="${vistoria.local}"></span></td>
				<td><span th:text="${vistoria.data}"></span></td>
				<td><span th:text="${vistoria.horario}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#deletarVistoria').arg(0, vistoria.codigo)).build()}"><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	
	</table>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>